
<form {{action 'authenticate' on='submit'}}>
	<div class="form-group">
    {{input value=email placeholder='Email' class='form-control'}}
  </div>
  <div class="form-group">
    {{input value=password placeholder='Password' class='form-control' type='password'}}
	</div>
	<button type="submit" class="btn btn-primary">Login</button>
</form>

{{link-to 'Sign up' 'signup'}}