@import url(http://fonts.googleapis.com/css?family=Lato|Open+Sans:400italic,700italic,400,700);

$lato: 'Lato', serif;   
$open-sans: 'Open Sans', sans-serif;

body {
  font-family: $open-sans;
  font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $lato;
  font-weight: normal;
}

ul {
  list-style-type: none;
}

a {
  transition: color .4s;
  color: #265C83;
  cursor: pointer;
}

a:link,
a:visited { color: #265C83; }
a:hover   { color: #7FDBFF; }
a:active  {
  transition: color .2s;
  color: #007BE6;
}

.link { text-decoration: none; }

.golfer-link .pointer {
	float: right;
	display: none;
}

.golfer-link.active .pointer {
	display: block;
}

.golfer-link li:hover {
    cursor: pointer;
}
