{{golfer-profile 
	golfer=model}}

{{#if isNotOnTeam}}
	<button {{action 'addGolfer' model}} class='btn btn-default'>Add to team</button>
{{else}}
	<button {{action 'removeGolfer' model}} class='btn btn-danger'>Remove from team</button>
{{/if}}