<div class="container">
	<div class="page-header">
		<h2 id="title" class="text-center">The Masters</h2>
		<ul class="nav nav-pills">			
			<li>{{link-to 'Leaderboard' 'leaderboard'}}</li>
			<li>{{link-to 'Golfers' 'golfers'}}</li>
			<li>{{link-to 'My Team' 'team'}}</li>
		</ul>		
	</div>

	<div class="row">
		{{outlet}}
	</div>
</div>