
<div class="col-md-4 col-xs-4">
	<div class="list-group">
	{{#each model as |golfer|}}		
		{{#link-to 'golfers.golfer' golfer tagName='li' class="list-group-item"}}
			{{golfer.name}}
		{{/link-to}}
	{{/each}}
	</div>
</div>

<div class="col-md-8 col-xs-8">
	{{outlet}}
</div>