
<div class="col-md-4 col-xs-4">
	<div class="list-group">
	{{#each model as |golfer|}}		
		{{#link-to 'golfers.golfer' golfer class="list-group-item golfer-link"}}
			{{golfer.name}}
			<span class="pull-right"><small>#{{golfer.ranking}}</small></span>			
		{{/link-to}}
	{{/each}}
	</div>
</div>

<div class="col-md-8 col-xs-8">
	{{outlet}}
</div>