<div class="middle-box text-center loginscreen">
    <div>    
        <h3>Welcome to Steadfast Golf</h3>
        <p>Perfectly designed and precisely prepared admin theme with over 50 pages with extra new web app views.
        </p>
        {{login-page}}
    </div>
</div>