<h2>Leaderboard</h2>

<div class="col-md-12 col-xs-12">
	<div class="list-group">
		<ol>{{#each model as |user|}}
			{{#link-to 'teams.team' user tagName='li' class="list-group-item"}}
				{{user.name}}
			{{/link-to}}
		{{/each}}</ol>
	</div>
</div>

<div class="col-md-12 col-xs-12">
	{{outlet}}
</div>